.forform {
	margin-bottom: 15px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top : 15px;
	padding-top : 15px; 
}
.user_img {
	margin: 15px;
	outline: 2px solid #111111;
	height: 300px;
	width: 250px;
}
.sign_up {
	font-size: 50px;
	font-family: cambria;
	text-align: center;
}
#demo {
	text-align: center;
	background-color: #CC0000;
	font-size:	15px;
	color: #fff;
	margin-bottom: 0px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top : 0px;
	border: 2px solid #fff;
	border-radius: 15px;
}