.section-base {
	background-color: #2e3234;
	height : 158px;
	overflow: hidden;
}
.section-middle {
	margin-left: auto;
	margin-right: auto;
	padding : 0px 25px;
	box-sizing: border-box;
	max-width: 980px;
}
.section-inner {
	padding: 40px 0px;
}
.section-inner h1 {
	color: #fffefe;
	line-height: 1.2;
	text-transform: uppercase;
	margin-top: 5px;
	position: relative;
	z-index: 2;
}
.section-inner h1 span {
	color: #4994cd;
	font-family: 'Roboto', sana-serif;
	font-weight: 300;
	font-size: 18px;
	display: block;
	clear: both; 
	text-transform: lowercase;
}
p {
	font-family: 'Roboto Condensed' , sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	color: #777777;
}